
/* header */
.main-header {
    background-image: url(../img/pattern.png);
    height: 100px;
    background-color: skyblue;
    background-repeat: repeat;
    background-size: 20%;
}

.logo {
    background-image: url(../img/logo.svg);
    height: 30px;
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 0px;
}

/* main */
.thead {
    background-color: lightblue;
}

.table-background {
    background-color: aqua;
}

.highlight {
    background-color: yellow;
}


/* footer */
h4{
    color: grey;
}
