
/* header */

.header-img {
    background-color: lightblue;
    background-repeat: repeat;
}

header {
    background-repeat: repeat;
}



/* main */
.thead {
    background-color: lightblue;
}

.table-background {
    background-color: aqua;
}